@charset "UTF-8";
html {
  font-size: 10px;
}
body {
  font-family: "Noto Serif JP", serif;
  color: #333;
}

/* fv */
.fv-area {
  width: 100%;
  height: 100vh;
  position: relative;
}
.fv-area .fv-tit {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 3;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 80%), -2px 2px 2px rgb(0 0 0 / 80%), 2px -2px 2px rgb(0 0 0 / 80%), -2px -2px 2px rgb(0 0 0 / 80%);
  font-size: 32px;
}

.fv-img-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.fv-img-wrap.fv01 {
  top: 0;
  z-index: 2;
}
.fv-img-wrap img {
  width: 100%;
}

/* fv アイコン */
.para_ico {
  position: absolute;
  width: 48px;
  z-index: 2;
}

.para_ico01 {
  left: -80px;
  bottom: 25vw;
}

.para_ico02 {
  right: -80px;
  top: 25vw;
}

/* fv アイコン */
.para_ico03 {
  left: -48px;
  bottom: -10%;
}

.para_ico04 {
  right: -48px;
  bottom: -50%;
}

.para_ico05 {
  left: -48px;
  top: -10px;
}

.para_ico06 {
  right: -48px;
  top: -20%;
}

/* fv下 ビジュアル */
.next-v {
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  position: relative;
  z-index: 0;
}
.next-v img {
  width: 100%;
}
.yama_ico {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: -1;
  /* opacity: 0.5; */

}
.yama_ico.active {
  animation: fadeIn 10s ease 0s;
}
.yama_ico img {
  width: 100%;
}
.concept {
  padding: 80px 0;
  background: #f4f4f4;
}

.concept h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 45px;
}

.concept p {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  line-height: 2.6;
  margin-bottom: 65px;
}
.more_btn{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}
.more_btn span{
  position: relative;
  display: block;
  width: 100px;
  height: 1px;
  margin-right: 1em;
}
.more_btn span::before{
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #333;
  position:absolute;
  bottom: -14px;
  left: 0;
  transform: scale(0, 1);
  transform-origin: left top;
  animation: drawArrow 1s ease-in-out forwards;
}
.more_btn span::after{
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background: #333;
  position:absolute;
  bottom: -6px;
  right: -1px;
  transform: scale(1, 0) rotate(45deg);
  transform-origin: left bottom;
  animation: drawArrowDig 1s ease-in-out 0.5s forwards;

}

.more_btn.active span::before{
  transform: scale(1, 1);
}
.more_btn.active span::after {
  transform: scale(1, 1) rotate(45deg);
}
.about{

}
.about_img_wrap{
  width: 50%;
}

.about_txt_wrap{
  width: 50%;
  font-size: 1.6rem;
  padding: 2em;
}

/* アニメ */
.fadeIn_totop{
  animation: fadeInToTop 1s ease-in;
}
.curtain{
  position: relative;
  overflow: hidden;
}
.curtain::before{
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #c5c5c5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: right center;
  transform: scaleX(1);
  transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s, transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.curtain.active::before{
  transform: scaleX(0);
  width: 100%;
}

.curtain img{
  opacity: 0;
  position: relative;
  left: -100%;
  transition-property:all;
  transition-delay:0s;
  transition-duration:1.5s;
}
.curtain.active img{
  opacity: 1;
  left: 0;
}


@keyframes fadeIn{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes drawArrow{
  0% { transform: scale(0, 1); }
  25% { transform: scale(0, 1); }
  40% { transform: scale(1, 1); }
  100% { transform: scale(1, 1); }
}

@keyframes drawArrowDig{
  0% { transform: rotate(45deg) scale(1, 0); }
  25% { transform: rotate(45deg) scale(1, 0); }
  40% { transform: rotate(45deg) scale(1, 1); }
  100% { transform: rotate(45deg) scale(1, 1); }
}


@keyframes fadeInToTop{
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
